__pycache__
*.pyc
*.pyo

/COUNTER/count.txt

*.password

test.py

.venv
.env
token.json

/CHAT_CONNECT/config.json
/CHAT_CONNECT/chat_log.jsonl
server.log
yapper.log
AUTOLAUNCH_ERROR.txt
/CHAT_YAPPER/tts_text.txt
/CHAT_YAPPER/voices.json

*.wav
CHAT_YAPPER/tts.wav
*.wav
